<h2>All Flights</h2>
<% if @current_user && @current_user.admin %>
  <%= link_to 'Create Flight', new_flight_path %>
<% end %>

<hr>

<br>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Flight</th>
      <th>From > To</th>
      <th>Plane</th>
      <th>Seats</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |f|%>
      <tr>
        <td><%= f.date_flight.strftime("%d/%m/%Y") %></td>
        <td><%= link_to (sprintf '%02d', f.id), flight_path(f) %></td>
        <td><%= f.origin %> > <%= f.destination %></td>
        <td><%= f.airplane.name%></td>
        <td><%= f.airplane.rows * f.airplane.columns%></td>
        <% if @current_user && @current_user.admin %>
          <td><%= link_to 'Edit', edit_flight_path(f) %></td>
          <td><%= link_to 'Delete', flight_path(f), method: 'delete' %></td>
        <% end %>
    <% end%>
      </tr>
  </tbody>
</table>


