<h1><%= @airplane.name %></h1>

<div class="plane_seat">
  <% @airplane.columns.times do %>
  <div class="column">
    <p id = "column-letters"><%= @column_letters[@column] %></p>

    <% @airplane.rows.times do %>
      <div class="seat">
        <%= @row %>
        <% @row += 1 %>
      </div>
    <% end %>
  </div>

  <% @row = 1 %>
  <% @column += 1 %>
  <% end %>
</div>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
<%= link_to 'Delete', airplane_path(@airplane), method: 'delete' %>
