<div class="container p-4"> 
        <div class="row">
             <div class="col-md-12">
                <h4>Reservations </h3> 
            </div>
        </div>
        <hr>

    <div class="d-flex justify-content-center my-5"> 
        <div class="card col-md-8">
            <div class="card-header d-flex justify-content-between">
                <div> <h4>Your Reservations</h4> </div>
                    
            </div>
                <div class="card-body">
                <table class="table  table-hover table-bordered">

                <tr class="bg-light">
                    <th>Depart date</th>
                    <th>Depart from</th>
                    <th>Arrive at</th>
                    <th>Flight</th>
                    <th>Actions</th>

                <tbody>
                <% @current_user.reservations.each do |r| %>

                    <tr>
                        <td><%= r.flight.date_flight.strftime("%d/%m/%Y") %></td>
                        <td><%= r.flight.origin %></td>
                        <td><%= r.flight.destination %></td>
                        <td><%= (sprintf 'BA-%02d', r.flight_id) %></td>
                        <td><%= link_to 'View', reservation_path(r.id) %></td>
                    </tr>
                <% end %>
                <tbody>

                </table>
                </div>
        </div>
    </div>
</div>
